<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescue.mapper.TaskRescuerMapper">

    <select id="selectByTaskId" resultType="com.rescue.entity.TaskRescuer">
        SELECT * FROM task_rescuer
        WHERE task_id = #{taskId}
        AND deleted = 0
        ORDER BY created_time DESC
    </select>

    <select id="selectByRescuerId" resultType="com.rescue.entity.TaskRescuer">
        SELECT * FROM task_rescuer
        WHERE rescuer_id = #{rescuerId}
        AND deleted = 0
        ORDER BY created_time DESC
    </select>

    <select id="countByTaskIdAndStatus" resultType="int">
        SELECT COUNT(*) FROM task_rescuer
        WHERE task_id = #{taskId}
        AND response_status = #{status}
        AND deleted = 0
    </select>

</mapper>
